/* ----------------------------- */
/* == Nav */
/* ----------------------------- */

nav { padding-top: 15px; }
nav ul { list-style: none; }
nav ul li { display: inline; margin-left: 15px; text-decoration: none; }
nav ul li a { color: black; }
nav ul li a:visited { color: black; }
nav ul li a:hover { opacity: 0.4; }


.brand-nav {
	padding: 8px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.top-nav {
	background-color: #fff;
	border-bottom: 2px solid #ccc;
}

.brand-logo {
    padding: 20px;
    width: 40px;
}


/* Page Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header {
	background-color: #138440;
	height: 650px;
	box-shadow: 0 8px 5px -4px #e4e4e4;
		-webkit-box-shadow: 0 8px 5px -4px #e4e4e4;
	   -moz-box-shadow: 0 8px 5px -4px #e4e4e4;
	position: relative;
}

.header-cta {
	padding-top: 20%;
	padding-left: 8%;
	color: #fff;
}

.header-cta h4 {
	color: #fff;
}

.header-video {
	background-color: #138440;
	padding: 40px;
}

.cta-callouts {
	width: 80%;
	background-color: #fff;
	border: 1px solid #cdcdcd;
	height: 120px;
	margin: 0 auto;
    z-index: 2;
    margin-top: 120px;
}


/* Page Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.page-content {
	padding-top: 80px;
}

.bolder {
	font-weight: 700;
	color: #fff;
}

.center-title {
	padding-top: 120px;
	text-align: center;
	font-weight: 700;
	padding-bottom: 40px;
}

.center {
	text-align: center;
}


/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

.product-photo {
    height: 460px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0 rgba(112,154,206,0.3), 0px 6px 22px 0 rgba(83,128,184,0.12), inset 0px -3px 2.5px 0 rgba(93,121,155,0.05);
    background-image: url('images/MQ-3cans.png');
}



/* Compaire Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#container1 {
    margin: 0 auto;
    border: 1px solid #cdcdcd;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* width: 1000px; */
}


/* UI Elements
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.btn {
  background: #afd136;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  font-weight: 600;
}

.btn:hover {
  background: #92b121;
  text-decoration: none;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer {
	margin-top: 200px;
	background-color: #373737;
	padding: 0.7em;
	color: rgb(230, 230, 230);
	padding-left:100px;
}

.footer p {
	font-size: 14px;
}

.footer a:visited {
    color: #ddd;
}

.footer a:link {
    color: #fff;
}